{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка про нас</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <h1 style="font-size:60px;">Сторінка про нас</h1>

    <style>
h2{
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
</style>
<h2>Точно <i> сторінка </i> про нас!</h2>

    <p style="color:rgb(185, 212, 14);">Сторінка про нас</p> 
       
</body>
</html>