{% extends "notes_app/base.html" %}

{% block title %}Вхід{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="text-center mb-4">Вхід</h3>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">
                            Увійти
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}